<label for="recipe">Title</label>
{{input value=recipe.title
  placehodler='New Title'}}
<label for="recipe">Ingredients</label>
{{recipe-ingredients ingredients=recipe.ingredient_list}}
<label for="recipe">Directions</label>
{{recipe-directions directions=recipe.directions}}
{{#link-to 'recipe'}}<button type='submit' {{action 'updateRecipe' recipe='recipe'}}>Edit</button>{{/link-to}}
