<label for="recipe">Title</label>
{{recipe-title title=recipe.title}}
<label for="recipe">Ingredients</label>
{{recipe-ingredients ingredients=recipe.ingredient_list}}
<label for="recipe">Directions</label>
{{recipe-directions directions=recipe.directions}}
{{#link-to 'recipes.new'}}<button type='submit' class='btn btn-xs btn-primary' {{action 'create'}}>Create</button>{{/link-to}}
