<li>
  <div {{action 'toggleListDetail'}}>{{recipe.title}}</div>
    {{recipe-detail recipe=recipe}}
    {{delete-recipe deleteRecipe='deleteRecipe' recipe=recipe}}
    {{#link-to 'recipe-edit' recipe=recipe}}<button>Edit</button>{{/link-to}}
</li>
