<div class='recipe-list' width='100%'>
  <h1 class='underlined'>{{recipe.title}}</h1>
<h3>Directions:<p>{{recipe.directions}}</p><br/></h3>
<h3>Ingredients:<p>{{recipe.ingredient_list}}</p></h3>
{{#if recipe.prep_time}}
<h3>Prep Time: {{recipe.prep_time}}</h3>
{{/if}}
</div>
