{{#if model.editable}}
{{#link-to 'recipe.edit'}}<button class='btn btn-primary'>Edit</button>{{/link-to}}
{{/if}}
<button class='btn btn-primary' {{action 'back'}}>Back</button>
<button {{action 'showConsole'}}>ShowConsole</button>
