<h1 class='underlined'>All Recipes</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Here's where you can see recipes from all other
  users. Stay tuned for more features. In the future, I would like to add a
  rating system and a favorites system. For now, you can at least see what other
  chefs are up to. Feel free to drop me some suggestions on my
  <a href='https://github.com/antleo1995/ember-recipe-app'>github repo</a>.
</p>
  <hr>
<ul>
{{#each model as |recipe|}}
<li>
  {{#link-to 'recipe' recipe}}<div>{{recipe.title}}</div>{{/link-to}}
</li>
{{/each}}
</ul>
