<div id='greeting-content'>
<img class='recipe-image clearfix' height="225px" width="175px" src="https://i.imgur.com/AeUL1Cb.jpg"><p>
    &nbsp; <strong><h2>Woohoo! Final project baby!</h2></strong><br><hr>
     &nbsp; <small><i>This project was done in ember. It's a conversion of project 2 - looks familiar, no?</i></small><br>
     Converting the previous project to an ember app was quite challenging. In addtion to converting to ember, I have added an additional feature to upload a custom image for your recipe. This picture is propogated to a new table and pulled in dynamically. Also can now see recipes from all users instead of just your own.<br>
     This site is purely ember, no extra bells and whistle, but it employs a lot of ember trickes to function. The backend remains the same as before with additions to accomodate the new features - <a href="http://www.heroku.com">Heroku</a>. <br>
     For those interested you can follow this <a href='https://github.com/antleo1995/ember-recipe-app'>link</a> to my <a href='http://www.github.com'>github</a> repository for a closer look at the nuts and bolts of it all. And as before,
     feel free to edit and update and send me a pull request. Always happy to colloborate as I still have plenty to learn.<br>
     In future iterations I would like to include the ability to see recipes from other users, but for now, there are deadlines to meet. I hope you all enjoy.
   </p>
</div>
