<div id='greeting-content'>
<img class='recipe-image clearfix' height="225px" width="175px" src="https://i.imgur.com/AeUL1Cb.jpg"><p>
    &nbsp;Welcome to my second project for WDI. This is a recipe app made by yours truly. It has just a few basic features at this juncture.
     Sign in to create an account and take it for a spin. <br>
     &nbsp;Recipes can be added and are automatically loaded on screen. Use the "Update a Recipe" nav link to edit or delete recipes.<br>
     Some of the technologies used include boostrap, handlebars, and jquery for the UI. The backend is an API running ruby on rails
     hosted on <a href="http://www.heroku.com">Heroku</a>. <br>
     For those interested you can follow this <a href='https://github.com/antleo1995/recipe_card_app'>link</a> to my <a href='http://www.github.com'>github</a> repository.
     Feel free to edit and update and send me a pull request. Always happy to colloborate as I still have plenty to learn.<br>
     In future iterations I would like to include the ability to see recipes from other users, but for now, there are deadlines to meet. I hope you all enjoy.
   </p>
</div>
