<p>Recipes list</p>
<ul>
{{#each model as |recipe|}}
<li>
  {{#link-to 'recipe' recipe}}<div>{{recipe.title}}</div>{{/link-to}}
    {{delete-recipe deleteRecipe='deleteRecipe' recipe=recipe}}
</li>
{{/each}}
</ul>
{{outlet}}
