<h1 class='underlined'>Your Recipes</h1>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Here's where you can create a new recipe or see your
  recipes you've created. Click the link and it will bring you to a detail view.
  There you can edit your recipe's text or add a photo if you want one. If you
  want to delete a recipe then the delete button below the recipe is probably a
  good chooice. Be warned, once you upload a photo, it's final, so choose wisely.
</p>
  <hr>
<ul>
{{#each model as |recipe|}}
{{#if recipe.editable}}
<li>
  {{#link-to 'recipe' recipe}}<div>{{recipe.title}}</div>{{/link-to}}
    {{delete-recipe deleteRecipe='deleteRecipe' recipe=recipe}}
</li>
{{/if}}
{{/each}}
</ul>
{{outlet}}
